body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

div {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #a1028e;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #b3007d;
}

#resultado {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
}